* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff9e3;
    font-family: Arial, sans-serif;
}

header {
    background-color: #F6EFD9;
    color: white;
    text-align: center;
    padding: 30px 20px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 60px;
}

.snackhub_logo {
    display: flex;
    justify-content: center;
    /*align-items: center; */
    min-height: calc(100vh - 100px);
    padding: 20px;
}

.profile_list {
    margin-left: 20px;
    margin-top: -150px;
    font-size: 16px;
    color: #333;
    list-style: none;
    padding: 0;
}

.profile_list li {
    margin-bottom: 8px;
    font-weight: 500;
}
